
@{
    ViewBag.Title = "Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Head">
    <div id="Inlogg">
        <p>Inloggad som: @Model.UserInfo.Name</p>
        <a href="~/Login/Login/">Byt användare</a>
    </div>
    @if (Model.UserInfo.CartList != null)
    {
        int nr = 0;
        int price = 0;
        foreach (var cartitem in Model.UserInfo.CartList)
        {
            price = price + cartitem.price;
            nr++;
        }
        <a href="~/Cart/ShowCart/">Visa varukorgen(@nr)</a>
    }
    <h2>Deluxe Möbler!</h2>
    <ul>
        <li><a href="~/Home/Index/">Populära produkter</a></li>
        <li>
            <div class="Dropdown">
                <a href="">Kategorier</a>
                <div class="Dropdown-content">
                    <a href="">Bord</a>
                    <a href="">Sängar</a>
                </div>
            </div>

        </li>
    </ul>
    @foreach (var furniture in Model.FurnitureList)
    {
        if (furniture.id == Model.id)
        {
            <p>@furniture.NumberOfViews</p>
            <h2>@furniture.Name</h2>
            <div class="pic">
                <img src="@furniture.PictureURL" width="400" height="400" />
                <div class="imgdsc">
                    <p>Längd: @furniture.Length</p>
                    <p>Höjd: @furniture.Height</p>
                    @if(furniture is DeluxeMobler.Models.Table)
                    {
                    <p>Antal Ben: @furniture.NumberOfLegs;</p>
                    <p>Kan vikas:  @furniture.CanBeFold</p>
                    <p>Form: @furniture.Shape</p>
                    }
                    @if(furniture is DeluxeMobler.Models.Bed)
                    {
                        <p>Mjukhet: @furniture.Softness</p>
                        <p>Dubbelsäng: @furniture.IsDouble</p>
                    }
                </div>
            </div>
            <p>@furniture.Price Kr</p>
            <div class="buybutton">
                <h3><a href="~/Cart/AddToCart/@furniture.id">Lägg i varukorg</a></h3>
            </div>
        }
    }
</div>
